---
layout: default
---
<!-- _layouts/teaching.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }} </h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <div class="teaching">
              {%- for y in page.years %}
                <h2>{{y}}</h2><hr>
                {% for entry in site.data.scicom %}
                  {% if entry.year == y %}
                    <div class="card mt-3 p-3">
                      <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
                      <div style="width: 100%; overflow: hidden;">
                        <div style="width: 600px; float: left;">
                        {% if entry.type == "list" %}
                          {% include cv/list.html %}
                        {% elsif entry.type == "map" %}
                          {% include cv/map.html %}
                        {% elsif entry.type == "nested_list" %}
                          {% include cv/nested_list.html %}
                        {% elsif entry.type == "time_table" %}
                         {% include cv/time_table.html %}
                        {% else %}
                          {{ entry.contents }}
                        {% endif %}
                        </div>
                        <div style="margin-left: 620px; position: absolute; bottom: 0;">
                        {%- if entry.poster %}
                          {% if entry.poster contains '://' -%}
                          <a href="{{ entry.poster }}" class="button" role="button">Poster</a>
                          {%- else -%}
                          <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" class="button" role="button">Poster</a>
                          {%- endif %}
                        {%- endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
              </div>
          </article>

        </div>